.job-listing-index-item {
  background-color: white;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 80%;
  box-shadow: 1px 1px 2px 1px var(--grey);
  padding: 10px;
  font-family: "Roboto Condensed", sans-serif;
}

.job-search-container {
  margin-top: 135px;
  width: 99%;
  display: flex;
}

.job-listing-index-section {
  width: 100%;
  margin: 30px;
}

.job-listing-index {
  align-items: center;
}

.job-listing-index-item-company {
  font-family: "Ubuntu", sans-serif;
  color: var(--grey);
}

.job-search-filter-menu {
  background-color: white;
  width: 30%;
  height: 1000px;
  padding: 25px;
}

.job-listing-index-item-title {
  font-family: "Roboto Condensed", sans-serif;
}

.job-listing-index-item-location {
  font-family: "Montserrat", sans-serif;
  color: var(--grey);
}

.job-listing-index-item-view {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  color: var(--teal);
}

.job-listing-show {
  padding: 50px;
  margin-left: 10%;
  margin-right: 10%;
}

.job-listing-show-content {
  background-color: white;
  display: flex;
}

.job-listing-show-sidebar {
  width: 30%;
  padding: 10px;
  margin: 20px;
  color: var(--grey);
}

.job-listing-show-sidebar p {
}

.job-listing-show-description {
  width: 70%;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.job-listing-show-description p {
  margin-block-end: 15px;
  font-family: "Times", serif;
  font-size: 20px;
}

.job-listing-show-description li {
  list-style: disc;
  font-size: 20px;
}

.job-listing-show-title {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 60px;
  text-align: center;
}

.company-name-in-job-show {
  font-size: 25px;
  text-align: center;
  color: var(--dark-grey);
}

.apply-now-link {
  background-color: var(--blue);
  margin: 25px;
  width: 300px;
  text-align: center;
  padding: 10px;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
}

.apply-now-link {
  color: white;
  font-family: "Montserrat", sans-serif;
}

.apply-now-link i {
  margin-left: 15px;
}
