html,
head,
body,
header,
nav,
h1,
a,
ul,
li,
main,
section,
p,
small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: #494343;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  font-family: "Times", serif;
  list-style: none;
}

body {
  --blue: #3f51b5;
  --light-blue: #767faf;
  --off-black: #494343;
  --grey: #d1cede;
  --dark-grey: #9895a2;
  --light-grey: #eef4f5;
  --eggplant: #764465;
  --teal: #009687;
  background-color: var(--light-grey);
}

p,
section,
div,
span,
input,
button {
  font-family: "Montserrat", sans-serif;
}

nav {
  background-color: var(--off-black);
  color: var(--teal);
  height: 50px;
  display: flex;
  padding: 5px;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 3px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

nav h2 {
  font-size: 40px;
  margin-inline-start: 20px;
}

.job-finder-title {
  justify-content: flex-start;
  margin: 5px;
}

button,
input {
  padding: 15px;
  margin: 10px;
  width: 300px;
  border-style: solid;
}

input,
button {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

button {
  border-color: var(--light-blue);
  background-color: var(--blue);
}

button:hover {
  background-color: var(--light-blue);
}

button:active {
  background-color: var(--light-blue);
}

input {
  border-color: var(--light-grey);
  border-width: thin;
}
